
@using Micrositio_Acreditacion.Services
@{
    ViewBag.Title = "CargaMasiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var empresa = Global.GetEmpresa();
}

<div class="w-100">

</div>


<div class=" ">

    <div class="row" style="background-position: center;background-image: url(@Url.Content("~/Img/fondo.jpg")); background-size: cover;">
        <div class="numero col-sm-12 col-md-8 bg-white" style="overflow-x: hidden;
        overflow-y: auto; height:650px; width: 100%;">
            <nav class="navbar navbar-expand-md bg-white navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                 
                </div>
            </nav>
            <h5 class="text-center ">Cargue su orden de extraccion</h5>
            <br />
            <p class="text-muted text-center">El archivo debe ser EXCEL</p>
            <div class="tab-content ">
              

                    <div class="col-8 mt-3  ">
                        <div class="row text-center ">
                            <div class="offset-lg-5 offset-3 offset-md-4 col-lg-7 col-12">
                                <div class="pricingTable">
                                    <span class="icon"><i class="fa fa-paperclip"></i></span>
                                    <div class="pricingTable-header">
                                        <h1 class="title">Seleccione el </h1><span class="price-value">Archivo a importar</span>
                                    </div>
                                    <ul class="list-unstyled pricing-content"></ul>
                                    <form action="@Url.Action("SolicitudGuardarArchivo", "Home")" method="post" id="" enctype="multipart/form-data"  >
                                        <input type="file" name="file" id="fileSol"/><br />
                                        <input type="submit" class="btn btn-dark rounded  mt-5"  value="Guardar" onclick="return ValidarSolicitud();">
                                        <br />
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
               


                <div class="text-center">

                    <nav class="d-block fixed-bottom col-8 mb-3">

                        <div class="row">
                            <div class="col-3 text-center">
                                <div class="col-3 text-center">
                                    <b style="font-size: 16px;" id="TotEmpm" hidden=""></b>
                                    <a class="btn btn-warning rounded float-left" id="btnVolverSol" href="@Url.Action("SeleccionarOrdenView","Home")">Volver</a>
                                </div>
                                <div class="col-3 text-center">
                                    <b style="font-size: 16px;" id="TotImportem" hidden=""></b>
                                </div>

                                <b style="font-size: 16px;" id="TotEmp" hidden=""></b>


                                <b style="font-size: 16px;" id="TotImporte" hidden=""></b>
                                <h5 id="totalGral" hidden=""></h5>
                            </div>
                            <div class="col-3 text-center">

                            </div>
                            <div class="offset-md-2 col-2 text-right">
                                <button class="btn btn-warning text-right boton1" data-toggle="modal" data-target="#previewedit-modal-grid" id="boton1" hidden="">siguiente</button>
                                <button class="btn btn-warning text-right boton2" hidden="" id="boton2" form="excelForm">bonton 2 </button>
                                

                            </div>
                        </div>


                    </nav>


                    <b style="font-size: 16px;" id="TotEmp" hidden></b>
                    <b style="font-size: 16px;" id="TotEmp1" hidden></b>


                    <br> <b style="font-size: 16px;" id="TotImporte" hidden></b>


                </div>

            </div>


        </div>






    </div>
</div>






@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
                document.getElementById("btnVolverSol").click();
               
            };
    </script>
}

  




