<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="4.3.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Font.Awesome" version="5.8.1" targetFramework="net452" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net452" />
  <package id="FontAwesome-ASP.NET" version="1.0.5578.25903" targetFramework="net452" />
  <package id="jQuery" version="3.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.9-build00167" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="NPOI" version="2.4.1" targetFramework="net452" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net452" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net452" />
  <package id="PCLCrypto" version="1.0.86" targetFramework="net452" />
  <package id="PCLStorage" version="1.0.2" targetFramework="net452" />
  <package id="popper.js" version="1.14.0" targetFramework="net452" />
  <package id="rda.SocketsForPCL" version="2.0.2" targetFramework="net452" />
  <package id="RestSharp" version="106.6.9" targetFramework="net452" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net452" />
  <package id="Validation" version="2.0.6.15003" targetFramework="net452" />
  <package id="X.PagedList" version="7.5.0" targetFramework="net452" />
  <package id="X.PagedList.Mvc" version="7.5.0" targetFramework="net452" />
  <package id="X.PagedList.Mvc.Bootstrap4" version="7.5.0" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>